# Used in terraform
TF_VAR_org_id=$(gcloud organizations list | tail -1 | awk '{ print $2 }')
GOOGLE_PROJECT="${INCEPTION_PROJECT}"
TF_VAR_inception_project_number=$(gcloud projects list | awk -v p="${INCEPTION_PROJECT}" '($1 == p) { print $3 }')
TF_VAR_analytics_project="climate-analytics"
TF_VAR_region="${REGION}"
TF_VAR_billing_account="${BILLING_ACCOUNT}"
TF_VAR_owner="<github repos account eg. thundercomb>"
TF_VAR_owner_email="<owner email>"
TF_VAR_oauth_client_id="<oauth client id>"
TF_VAR_oauth_client_secret="<oauth client secret>"

# Dependency: Setup OAuth for Cloud IAP: https://www.kubeflow.org/docs/gke/deploy/oauth-setup/

export TF_VAR_org_id GOOGLE_PROJECT TF_VAR_inception_project_number TF_VAR_analytics_project TF_VAR_region TF_VAR_billing_account TF_VAR_owner TF_VAR_owner_email
