# Used in start.sh
INCEPTION_PROJECT="platform-orchestration"
STATE_BUCKET="${INCEPTION_PROJECT}-terraform-state"
REGION="europe-west2"
BILLING_ACCOUNT="<billing_account>"

# Used in terraform
GOOGLE_PROJECT="${INCEPTION_PROJECT}"
TF_VAR_analytics_project="climate-analytics"
TF_VAR_region="${REGION}"
TF_VAR_billing_account="${BILLING_ACCOUNT}"
TF_VAR_owner_email="<owner email>"

export INCEPTION_PROJECT STATE_BUCKET REGION BILLING_ACCOUNT
export GOOGLE_PROJECT TF_VAR_analytics_project TF_VAR_region TF_VAR_billing_account TF_VAR_owner_email
